* {
  font-family: 'Ubuntu', sans-serif;
}

.header {
  /*background-color: blue;*/
  text-align: center;
  font-size: 70px;
}

#search-container {
  /*background-color: red;*/
}

#search {
  /*margin: 30px 0;*/
  margin: auto;
  /*background-color: green;*/
  /*width: 500px;*/
  text-align: center;
  font-size: 30px;
}

#graph-container {
  /*background-color: pink;*/
}

#graph {
  width: 80%;
  height: 100px;
  /*background-color: lightgrey;*/
  margin: auto;
}

#selectedZip {
  /*background-color: orange;*/
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}
